<p-card>

  <div class="header-container">
    <h3 class="gradient-title">Lista de Pacientes</h3>
  </div>

    <p-table
      [value]="pacientes"
      dataKey="nombrePaciente"
      class="rounded-table"
      [tableStyle]="{ 'min-width': '6rem' }">

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Contacto</th>
          <th>Fecha de Cita</th>
          <th>Observación</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-paciente>
        <tr>
          <td>{{ paciente.nombrePaciente }}</td>
          <td>{{ paciente.contactoPaciente }}</td>
          <td>{{ paciente.fechaCitaPaciente | date:'shortDate' }}</td>
          <td>{{ paciente.observaciones}}</td>
          <td>
            <button pButton type="button" label="Editar/Ver" icon="pi pi-eye"
                    class="p-button-info p-button-sm"
                    (click)="editarPaciente(paciente)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</p-card>


