<p-table [value]="patients" >
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Diagnosis</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patient>
      <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.diagnosis }}</td>
      </tr>
  </ng-template>
</p-table>
